body{
	background: #222;
	background-image: url("../img/bg.png");
	background-repeat: repeat-x repeat-y;
	padding: 0;
}

*:focus {
	outline:none;
}


#main {
	padding: 0;
	position: relative;
}

	#main #main-video {
		width: 100%;
		position: absolute;
	}

	#main #main-canvas {
		width: 100%;
		position: absolute;
	}

#thumbnail-container {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

body[data-state-name="home"] #thumbnail-container {
	display: block;
}

#tutorial-link {
	width: 200px;
	height: 200px;
	position: absolute;
	margin-left: -120px;
	background: #A1DD10;
	z-index: 1000;
	left: 0;
}
#tutorial-link:hover {
	background: #fff;
}

#main-link {
	width: 350px;
	height: 350px;
	background: url('../img/snapshot.jpg');
	background-size: cover;
	background-position: center;
	z-index: 2000;

}
#main-link:hover {
	opacity: 0.8;
	color: #fff;
}

.main-link-title, .tutorial-title {
	margin-top: 50%;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	    transform: translate(0,-50%);
}

.thumbnail {
	margin: 10px;
	float: left;
	border-radius: 50% 50% 50% 50%;
	border: none;
	text-align: center;
	font-family: roboto, sans-serif;
	font-size: 1.6em;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	        transition: all 0.3s;
}
.thumbnail:hover, .thumbnail:focus {
	color: #222;
	text-decoration: none;
}



#nav-menu {
	display: none;
	padding: 5px;
	margin-left: 15px;
	bottom: 25px;
	position: fixed;
	z-index: 1000;
	pointer-events: none;
}

#nav-menu a {
	pointer-events: all;
}

body[data-state-name="main-track"] #nav-menu,
body[data-state-name="tutorial-track"] #nav-menu {
	display: block;
}

body[data-state-name="tutorial-track"] /*#nav-menu li */.tutorial-hide {
	display: none !important;
}

	#nav-menu ul {
		padding: 0;
		list-style: none;
	}

	#nav-menu li {
		opacity: 0;
		-webkit-transition: all 500ms;
		        transition: all 500ms;
		margin-bottom: 10px;
		line-height: 0em;
	}

	#nav-menu.active li,
	body.finished #nav-menu li {
		opacity: 1;
		line-height: 1em;
	}

	#nav-menu-items a:active{
		bottom: none;
	}

	#nav-menu-items a {
		width: 100%;
		font-family: roboto, sans-serif;
		font-size: 1em;
		font-weight: bold;
		text-decoration: none;
		cursor: pointer;
		color: #eee;
		border-radius: 0;
		border: none;
	}

	#nav-menu-items a:hover{
		color: #A1DD10;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

#nav-menu-button {
	width: 25px;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 3em;
	display: block;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	        transition: all 0.3s;
}

#nav-menu-button:hover {
	color: #A1DD10;
}
#nav-menu.active #nav-menu-button,
body.finished #nav-menu #nav-menu-button {
	color: #A1DD10;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
}

video {
	-webkit-transition: all 500ms;
	        transition: all 500ms;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	/*object-fit: cover;*/
}

video.active {
	-webkit-transition: all 500ms 500ms;
	        transition: all 500ms 500ms;
	z-index: 100;
	opacity: 1;
}

video.no-animate {
	-webkit-transition: none;
	        transition: none;
}

.hook {
	position: fixed;
	left: 50%;
	bottom: 7vh;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
	display: none;
	font-family: roboto, sans-serif;
	font-size: 2em;
	color: white;
	text-decoration: none;
	z-index: 1000;
	white-space: nowrap;
}

.hook:after {
	content: "";
	display: inline-block;
	width: 38px;
  height: 38px;
  margin-bottom: -8px;
  margin-left: 5px;
	background-image: url("../img/link.svg");
	background-size: 100%;
}

.hook.spelling:after {
	background-image: url("../img/soletracao.svg")
}

.hook.active {
	display: block;
}

#countdown-container {
	position: absolute !important;
	width: 70px;
	right: 15px;
	bottom: 40px;
	z-index: 3000;
	font-family: roboto, sans-serif;
}

#video-wrapper {
	position: fixed;
	max-width: 100%;
	max-height: 100%;
	height: 100vh;
	width: calc(100vh * 4/3);
	padding: 0;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	        transform: translate3d(-50%, 0, 0);
	top: 0;
	bottom: 0;
}

video.active {
	cursor: pointer;
}
